alembic==1.8.0
asttokens==2.0.5
Babel==2.10.3
backcall==0.2.0
bcrypt==3.2.0
blinker==1.4
certifi==2022.5.18
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cryptography==36.0.2
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.1
docker-py==1.10.6
docker-pycreds==0.4.0
dominate==2.7.0
elastic-transport==8.1.2
elasticsearch==8.3.3
email-validator==1.2.1
executing==0.8.3
Flask==2.1.2
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.4
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WhooshAlchemy==0.56
Flask-WTF==1.0.1
flup==1.0.3
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.4
ipython==8.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
langdetect==1.0.9
lxml==4.6.5
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
ncclient==0.6.7
netconf-console==2.3.3
netconf-console2==3.0.0
packaging==21.3
paramiko==2.10.3
parso==0.8.3
pbr==5.9.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pyang==2.5.3
pycparser==2.21
Pygments==2.11.2
PyJWT==2.4.0
PyNaCl==1.5.0
pyparsing==3.0.9
pysros==22.2.1
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.37
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
stack-data==0.2.0
Tempita==0.5.2
traitlets==5.1.1
urllib3==1.26.9
visitor==0.1.3
wcwidth==0.2.5
websocket-client==1.3.2
Werkzeug==2.1.2
Whoosh==2.7.4
WTForms==3.0.1
zipp==3.8.0
